@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --brand: 262 83% 58%; /* violet-600 */
    --brand-foreground: 0 0% 100%;
  }

  * {
    @apply border-neutral-200;
  }

  body {
    @apply bg-white text-neutral-900 antialiased;
  }
}
